body {
    background-color: rgba(0,0,0,.8);
}

#main {
    margin-top: 40px;
}

.sticky-top {
	top: 70px;
}

.bg-custom {
    background-color: rgba(0,0,0,.8);
}

.card {
    background-color:rgba(255,255,255,.1);
    color: white;
    margin: 10px;
}

.card-header {
    font-size: x-small;
    text-align: right;
}

#nextLevelNav, #nextLevelNav .card-body {
    padding: 0;
    margin: 0;
    font-size: small;
    min-width: 160px;
    background-color: rgba(0,0,0,0);
}

#nextLevelNav .card-title {
    font-size: small;
    text-align: right;
}

nav {
    justify-content: space-between;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    color: rgba(200,200,200)
}

.progress {
    background-color: rgba(255,255,255,.5);
}
