body {
    background-color: rgba(0,0,0,.8);
}

#main {
    margin-top: 40px;
}

.sticky-top {
	top: 70px;
}

.bg-custom {
    background-color: rgba(0,0,0,.8);
}

.card {
    background-color:rgba(255,255,255,.1);
    color: white;
    margin: 10px;
}

.card-header {
    font-size: x-small;
    text-align: right;
}

#nextLevelNav, #nextLevelNav .card-body {
    padding: 0;
    margin: 0;
    font-size: small;
    min-width: 160px;
    background-color: rgba(0,0,0,0);
}

#nextLevelNav .card-title {
    font-size: small;
    text-align: right;
}

nav {
    justify-content: space-between !important;
}

#playerStats {
    background-color: rgba(255,255,255,.25);
}

#playerStats .info {
    font-size: x-large;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    color: rgba(200,200,200)
}

.progress {
    background-color: rgba(255,255,255,.5);
}

.col {
    min-width: 220px;
}

.currentLevel, .totalPoints {
    text-shadow: 0 0 5px #002241;
}

.skill img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 80px;
    max-height: 80px;
    width: 20%;
    margin: 5px;
}

